
@{
    ViewBag.Title = "Welcome";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Welcome</h2>

<h2>Hi <b>@Context.User.Identity.Name</b>! Welcome to Moklet Outbond!</h2>
<h2> Mau Pesan Paket Outbond?? </h2>
@Html.ActionLink("Pesan","Pelanggan")<br />
@Html.ActionLink("Signout", "SignOut", "Account")